<div id="title">Broschyr</div>
<div class="row"><label class="col1">Bindningsupplaga:&nbsp;&nbsp;</label>
<span class="col2"><input type="text" name="bindningsupplaga" required [(ngModel)]="film.producer" class="input" id="bindningsupplaga" size="20" tabindex="1"  /></span>
</div>
<div class="row"><label class="col1">Följande:&nbsp;&nbsp;</label>
<span class="col2"><input name="foljande" class="input" type="text" id="foljande" size="20" tabindex="2" /></span>
</div>
<div class="row"><label class="col1">Omfång:&nbsp;&nbsp;</label>
<span class="col2"><input name="omfang" class="input" type="text" id="omfang" value="" size="20" tabindex="3" /></span>
</div>
<div class="row"><label class="col1comment">Färdigformat:&nbsp;&nbsp;</label>
<span class="col2"><input name="fardigformat" class="input" type="text" id="fardigformat" value="" size="20" tabindex="4" /></span>
</div>
{{film.producer}}